@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~mdb-ui-kit/css/mdb.min.css';


body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}


.dhall { 
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-body {
  height: 9000px;
 }
 
 .bg-container {
  position: relative;
  width: 70% !important;
  height: 600px;
  margin: auto;
  margin-top: 55%;
 }
 .bg-container h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  font-size: 70px;
 }